/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    margin: 0 auto;
    width: 60%;
}

.sections {
    margin-bottom: 10px;
}

/* HEADER */
.booleaner-logo {
    width: 20%;
    margin-top: 30px;
    margin-left: 5px;
}

header {
    background-image: url(../img/pattern.png);
    background-size: contain;
    background-color: rgb(98, 171, 235);
    height: 70px;;
}

/* MAIN */

.gray-words {
    color: gray;
    font-size: 12px;
}

.booleaner {
    color: rgb(62, 175, 246);
    font-size: 12px;
}

.date {
    color: gray;
    font-size: 8px;
}

/* images section */
.title-section {
    margin-bottom: 10px;
}

.photo1 {
    display: inline-block;
    width: 53%;
}

.photo2 {
    display: inline-block;
    width: 45%;
}

.property-photo {
    display: block;
    width: 100%;
}

.descr-photos {
    font-size: 10px;;
}

/* first paragraph section */
.highlight {
    background-color: yellow;
}

/* FOOTER */